<%- include('templates/admin/header', {tittle: 'admin dashboard' ,
  css: '<link rel="stylesheet" href="../public/css/admin.css"><link rel="stylesheet" href="../../public/css/components/loginout.css">' }) %>

  <main class="main">
    <% if(error_msg.length > 0) { %>
      <p class="p error-flash__p">
        <%= error_msg %>
      </p>
      <% } %>
        <% if(error.length > 0) { %>
          <p class="p error-flash__p">
            <%= error %>
          </p>
          <% } %>
            <% if(!user) { %>
              <!-- SIGN IN -->
              <%- include('templates/components/loginout') %> 
              <% }else {%>
                <div class="main__options-container">
                  <div class="main__option">
                    <p class="p option__p">Actualizar la carta</p>
                    <a href="/admin/create-products" id="goToCreateProductsLink" class="a option__btn btn-warning">Click
                      aquí</a>
                  </div>
                  <div class="main__option">
                    <p class="p option__p">Crear nuevos usuarios</p>
                    <a href="/admin/create-users" class="a option__btn btn-warning">Click aquí</a>
                  </div>
                </div>
                <span id="signinForm"></span>
                <span id="signupForm"></span>
                <% } %>
                  <div class="main__option">
                    <p class="p option__p">Ir a la pagina de Mamaq</p>
                    <a href="/" class="a option__btn btn-warning">Click aquí</a>
                  </div>
                  <%- include('templates/admin/footer') %>