<%- include('templates/head', {tittle: 'La carta'}) %>
    <img class="carta__img" src="../public/assets/WEB-MAMAQ_CARTAheader.jpg" alt="imagen de la carta">
    <div id="cartaContainer" class="carta__template-container">
        <% imgUploads.forEach(img => { %>
            <img class="template-img" src="<%= img.imagen.path %>" alt="IMG">
            <span class="template-name-price">
                <h3 class="template-product"><%= img.name %></h3>
                <p class="template-price"><%= img.price %></p>
            </span>
            <p class="template-description"><%= img.description %></p>
            <p class="template-category"><%= img.category %></p>
        <% }); %>
    </div>
    <!-- <template id="cartaTemplate" class="template">
            <img class="template-img"" src="" alt="IMG">
            <span class="template-name-price">
                <h3 class="template-product"></h3>
                <p class="template-price"></p>
            </span>
            <p class="template-description"></p>
            <p class="template-category"></p>
    </template> -->
    <!-- <script type="module" src="../public/js/main.js"></script> -->
    <%- include('templates/footer') %>
